@font-face {
    font-family: "Space Mono";
    src: url(../assets/font/SpaceMono-Bold.ttf);
}

$white:     #FFFFFF;
$black:     #000000;
$grey-50:   #F3F9FA;
$grey-200:  #C5E4E7;
$grey-300:  #9EBBBD;
$grey-400:  #7F9D9F;
$grey-500:  #5E7A7D;
$grey-550:  #547878;
$grey-600:  #3D6666;
$green-200: #9FE8DF;
$green-400: #26C2AE;
$green-750: #0D686D;
$green-800: #085C61;
$green-900: #00474B;
$orange:    #E17052;

@mixin text-preset-1{
    font-family: "Space Mono";
    font-size:      4.8rem;
    line-height:    7.1rem;
    letter-spacing: -.1rem;
}
@mixin text-preset-2{
    font-family: "Space Mono";
    font-size:      3.2rem;
    line-height:    3.6rem;
    letter-spacing: 0;
}
@mixin text-preset-3{
    font-family: "Space Mono";
    font-size:      2.4rem;
    line-height:    3.6rem;
    letter-spacing: 0;
}
@mixin text-preset-4{
    font-family: "Space Mono";
    font-size:      2rem;
    line-height:    3rem;
    letter-spacing: 0;
}
@mixin text-preset-5{
    font-family: "Space Mono";
    font-size:      1.6rem;
    line-height:    2.4rem;
    letter-spacing: 0;
}
@mixin text-preset-6{
    font-family: "Space Mono";
    font-size:      1.3rem;
    line-height:    1.9rem;
    letter-spacing: 0;
}

@mixin flex($direction, $main-axis, $cross-axis){
    display:         flex;
    flex-direction:  $direction;
    justify-content: $main-axis;
    align-items:     $cross-axis;
}

label{
    @include text-preset-5;
    color: $grey-500;
}
.num-input{
    border: none;
    border-radius: .5rem;
    direction: rtl;
    @include text-preset-3;
    color: $green-900;
    background-repeat: no-repeat;
    background-position: 1.85rem;
    background-color: $grey-50;
    #custom &{
        position: absolute;
        top: 0;
        left: 0;
    }
    &.bill-amount{
        background-image: url("../assets/images/icon-dollar.svg");
    }
    &.people-count{
        background-image: url("../assets/images/icon-person.svg");
    }
    &:focus,
    &:focus-visible{
        outline: 2px solid $green-400;
    }
    &::placeholder{
        color: $grey-300;
    }
    &.error{
        outline: 2px solid $orange;
    }
}
.people-container{
    position: relative;
}
.people-error{
    position: absolute;
    top: 0;
    right: 0;
    color: $orange;
    @include text-preset-5;
}
.content__results-container{
    border-radius: 1.5rem;
    background-color: $green-900;
}
.result-name{
    @include text-preset-5;
    color: $white;
}
.result-descr{
    @include text-preset-6;
    color: $grey-400;
}
.result-sum{
    @include text-preset-1;
    color: $green-400;
    @media screen and (max-width: 450px) {
        @include text-preset-2;
    }
}

.btn{
    width: 100%;
    height: 4.8rem;
    border: none;
    border-radius: .5rem;

    &.radio-input{
        appearance: none;
        position: relative;
        background-color: $green-900;
        padding: .8rem 1.6rem;
        color: $white;
    }
    &.custom-btn{ 
        background-color: $grey-50;
        color: $grey-550;
        @include text-preset-3;
        & + .radio-label{
            color: $grey-550;
        }
    }
    &.reset-btn{
        background-color: $green-400;
        color: $green-900;
        @include text-preset-4;
        text-transform: uppercase;
    }
    @media screen and (min-width: 1024px) {
        &:not(.custom-btn):not(&[disabled = "disabled"]):hover{
            color: $green-900;    
            background-color: $green-200;
            & + .radio-label{
                color: $green-900;
            }
        }
    }
    &:disabled{
        color: $green-800;    
        background-color: $green-750;
    }
}

.radio{
  position: relative;
  width: 100%;
  @include flex(row, center, center);
}

.radio-label{
    position: absolute;
    top: 0px;
    left: 0px;
    @include flex(row, center, center);
    width: 100%;
    height: 100%;
    color: $white;
    @include text-preset-3;

}

.radio-input:checked{
    background-color: $green-400;
    & + .radio-label{
        color: $green-900;
    }
}


#custom{
    position: relative;
}

 